@page "/detailenrollment"

<h3>Show Enrollment - Manuel Vallancio - 72190270</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CourseID</th>
            <th>Title</th>
            <th>Credits</th>
   
            <th></th>
        </tr>
    </thead>
    <tbody>
         <tr>
                <td>1</td>
                <td>Web Programming</td>
                <td>3</td>
               
                      </tr>
            
        }
      
            </tbody>
</table>