@page "/"

<h1>Hello, world!</h1>

Mohon Maaf bapak atau kak karena data saya tidak bisa ditampilkan dan saya sudah mencobanya namun tidak muncul namun seluruh fungsi sudah saya buat tapi karena data tidak muncul jadi tidak bisa dipakai.

<SurveyPrompt Title="" />
